<template name="contact">
	<div class="contact-template">
		<div class="row banner contact-banner">
			<div class="col s10 offset-s1 center">
			  <h4>CONTACT</h4>
			  <hr>
			  <h5>Let's talk.<br><br></h5>
			  <a href="#content" class="content-scroll"><i class="fa fa-angle-down fa-5x" id="content"></i></a>
			</div>
		</div>
		<div class="row">
		    <form class="col s10 offset-s1">
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="first_name" type="text" class="validate">
		          <label for="first_name">First Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="last_name" type="text" class="validate">
		          <label for="last_name">Last Name</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="subject" type="text" class="validate">
		          <label for="subject">Subject</label>
		        </div>
		      </div>
		      <div class="row">
	              <div class="input-field col s12">
	                <textarea id="email_content" class="materialize-textarea"></textarea>
	                <label for="email_content">Content</label>
	              </div>
              </div>
		    </form>
		  </div>
	</div>
</template>